* {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  border:0;
}
html, body {
  height: 100%;
}
html {
  display: table;
  width:100%;
}
body {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background-color: hsl(212, 45%, 89%);
}
.qrcode-plus-attribution {
  width: 320px;
  padding: 27px;
  margin: 0 auto;
}
.qrcode-card {
  padding:16px;
  border-radius: 18px;
  background-color: hsl(0, 0%, 100%);
}
.qrcode-card > h1 {
  padding: 22px 12px 8px 12px;
  font-size:22px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}
.qrcode-card > p {
  padding: 8px 12px 22px 12px;
  font-size:15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}
.qrcode-card > img {
  display: block;
  width: 288px;
  height: 288px;
  border-radius:10px;
}
.attribution { 
  font-size: 11px; 
  text-align: center;
  padding: 15px 15px 0 15px;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}